@import "tailwindcss";
@import "tw-animate-css";

@layer base {
  html {
    scroll-behavior: smooth;
    background-color: #000000;
    color: #F3F4F6;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  ::selection {
    background-color: #FFFFFF;
    color: #000000;
  }
}

